.st-key-reset button{
    background-color: #3368A6;
    padding: 3px 8px;            /* re-size button */
    border-radius: 12px;         /* rounded corners */
    margin: auto;                /* center horizontally */
    display: block;              /* center as block element */
}
.st-key-reset button p {
    color: white;                /* text color */
    font-size: 20px;
    font-weight: bold;           
}
.st-key-solve button{
    background-color: #FF4B4B;   
    padding: 15px 40px;          
    border-radius: 12px;         
    margin: auto;                
    display: block;              
}
.st-key-solve button p {
    color: white;
    font-size: 52px;
    font-weight: bold;
}
